@model Quinterest2.Models.Board

@{
    ViewBag.Title = "Index";
}

<h2>@Model.BoardName <text> Board</text></h2>
<p>
    @Model.NumPinsOnBoard <text> Pins</text>
    <br />
    @Model.Description
</p>
<p>
    @Html.ActionLink("Create New Pin", "Create", "Pins") |
    @Html.ActionLink("Edit Board", "Edit", new { id = @Model.Id }) |
    @Html.ActionLink("Delete Board", "Delete", new { id = @Model.Id })
</p>

<table class="table">



@foreach (var pin in Model.Pins) {
    <tr>
        <td>
            @pin.Title
        </td>
        <td>
            <img class="pinImages" src="@pin.ImageUrl" />
        </td>
        <td>
            @pin.ShortDescription
        </td>
        <td>
            @Html.ActionLink("View", "Details", "Pins", new { id = pin.Id }, null)
        </td>
    </tr>
}

</table>
