@model Quinterest2.Models.Board

@{
    ViewBag.Title = "Index";
}

<h2>@Model.BoardName <text> Board</text></h2>
<p>
    @Model.NumPinsOnBoard <text> Pins</text>
    <br />
    @Model.Description
</p>
<p>
    <button><i class="fa fa-plus"></i> @Html.ActionLink("Create New Pin", "Create", "Pins")</button> 
    <button><i class="fa fa-pencil"></i> @Html.ActionLink("Edit Board", "Edit", new { id = @Model.Id })</button> 
    <button><i class="fa fa-trash-o"></i> @Html.ActionLink("Delete Board", "Delete", new { id = @Model.Id })</button> 
    <button><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to Profile", "ApplicationUserView", "ApplicationUsers")</button>
</p>

<div class="section">
    <div class="row">
        @foreach (var pin in Model.Pins)
        {
            <div class="col-md-3">
                <div class="panel pins panel-default">

                    <div class="panel-body">
                        <h4>@Html.DisplayFor(modelItem => pin.Title)</h4>
                        <img class="smallPinImage img-responsive" src="@Html.DisplayFor(modelItem => pin.ImageUrl)" />
                        <hr />
                        <p>@Html.DisplayFor(modelItem => pin.ShortDescription)</p>
                        <button><i class="fa fa-search-plus"></i> @Html.ActionLink("View", "Details", "Pins", new { id = pin.Id }, null)</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



