@model Quinterest2.Models.Board

@{
    ViewBag.Title = "Index";
}

<h2>@Model.BoardName <text> Board</text></h2>
<p>
    @Model.NumPinsOnBoard <text> Pins</text>
    <br />
    @Model.Description
</p>
<p>
    @Html.ActionLink("Create New Pin", "Create", "Pins") |
    @Html.ActionLink("Edit Board", "Edit", new { id = @Model.Id }) |
    @Html.ActionLink("Delete Board", "Delete", new { id = @Model.Id }) |
    @Html.ActionLink("Back to Profile", "ApplicationUserView", "ApplicationUsers")
</p>

@foreach (var pin in Model.Pins)
{
    <div class="col-sm-3 smallPinDiv">

        <h4>@Html.DisplayFor(modelItem => pin.Title)</h4>
        <br />

        <img class="smallPinImage" src="@Html.DisplayFor(modelItem => pin.ImageUrl)" />
        <br />
        @Html.DisplayFor(modelItem => pin.ShortDescription)
        <br />
        @Html.ActionLink("View", "Details", "Pins", new { id = pin.Id }, null)

    </div>
}

