@model Quinterest2.Models.Board

@{
    ViewBag.Title = "Index";
}

<h2>Pins</h2>
<p>
    @Model.BoardName
    <br />
    @Model.NumPinsOnBoard <text> Pins</text>
    <br />
    @Model.Description
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var pin in Model.Pins) {
    <tr>
        <td>
            @pin.Title
        </td>
        <td>
            <img src="@pin.ImageUrl" />
        </td>
        <td>
            @pin.ShortDescription
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=pin.Id }) |
            @Html.ActionLink("Details", "Details", "Pins", new { id=pin.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=pin.Id })
        </td>
    </tr>
}

</table>
