@model Quinterest2.Views.Pins.DetailsVM

@{
    ViewBag.Title = "Details";
}


<div>

    <div class="row">
        <div class="col-sm-6">
            <img class="expandedPinImage img-responsive" src="@Html.DisplayFor(model => model.Pin.ImageUrl)" />
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5">

            <hr style="border-color:transparent" />
            <h2>@Model.Pin.Title</h2>

            <hr style="border-color:white" />
            <a href="model.Pin.Website">@Html.DisplayFor(model => model.Pin.Website)</a>
            <br />
            <hr style="border-color:transparent" />

            <em>@Html.DisplayFor(model => model.Pin.ShortDescription)</em>
            <br />
            <hr style="border-color:transparent" />
            @Html.DisplayFor(model => model.Pin.LongDescription)
            <hr style="border-color:transparent" />
            <strong><text>Pinned by </text>@Html.DisplayFor(model => model.PinnerDisplayName)</strong>
            <div class="row">
                <div class="col-sm-12">
                    @if (Model.CurrentUser.Id == Model.Pin.UserId)
                    {
                        <p>
                            <button class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back To All Pins", "Index")</button>
                            <button class="btn btn-sm btn-default"><i class="fa fa-pencil"></i> @Html.ActionLink("Edit Pin", "Edit", new { id = Model.Pin.Id })</button>
                            <button class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i> @Html.ActionLink("Delete Pin", "Delete", new { id = Model.Pin.Id })</button>
                        </p>
                    }
                    else
                    {
                        <p>
                            <button class="pinItDivButton btn btn-sm btn-danger"><i class="fa fa-thumb-tack"></i> @Html.ActionLink("Pin It!", "PinItView", new { id = Model.Pin.Id }, new { @class = "pinItDivButton" })</button>
                            <button class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back To All Pins", "Index")</button>

                            <div class="flag btn-group collapse">
                                <a class="btn btn-danger btn-sm"><i class="fa fa-flag-o fa-lg"></i></a>
                                <a class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="fa fa-caret-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a id="report" data-id="@Model.Pin.Id" href="#">Report</a></li>
                                </ul>
                            </div>
                        </p>
                    }
                    <div class="flag" id="reportConfirm" style="display:none">
                        <p>You have flagged this pin. The administrator has been notified.</p>
                    </div>
                </div>
            </div>

            <hr />
           

            <p><strong><i class="fa fa-comment"></i> Leave a comment:</strong></p>
            @using (Html.BeginForm("Create", "Comments", new { id = Model.Pin.Id }))
            {
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comment.Words, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Comment.Words, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-sm btn-default" />
                    </div>
                </div>
            }

            <table class="commentTable">
                @foreach (var comment in Model.Comments)
                {
                    <tr class="commentTableRow">
                        <td id="commentTableData">
                            <img class="commentImage" src="@Html.DisplayFor(modelItem => comment.User.ImageUrl)" />
                            <strong>@Html.DisplayFor(modelItem => comment.User.DisplayName)</strong>
                            <span style="color:gray"> @Html.DisplayFor(modelItem => comment.DateTime)</span>
                            <br />
                            @Html.DisplayFor(modelItem => comment.Words)
                            @if (Model.CurrentUser.Id == Model.Pin.UserId || Model.CurrentUser.Id == comment.UserId)
                            {
                                <button id="deleteComment" class="deleteComment btn btn-sm btn-default"><i class="fa fa-trash-o"></i></button>
                            }
                        </td>
                    </tr>
                }
            </table>

        </div>
    </div>



</div>