@model Quinterest2.Views.Pins.DetailsVM

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2>@Model.Pins.Title</h2>
    <div>
        <dl class="dl-horizontal">

            <dd>
                <img src="@Html.DisplayFor(model => model.Pins.ImageUrl)" />
            </dd>

            <dd>
                @Html.DisplayFor(model => model.Pins.Website)
            </dd>

            <dd>
                <em>@Html.DisplayFor(model => model.Pins.ShortDescription)</em>
            </dd>
            <hr />

            <dd>
                @Html.DisplayFor(model => model.Pins.LongDescription)
            </dd>

            <dd>
                <text>Pinned by </text>@Html.DisplayFor(model => model.Pins.User.DisplayName)
            </dd>

        </dl>
    </div>

    <p>
        <h4>Pin It!</h4>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.Pins.BoardId, "Board", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Pins.BoardId, Model.Boards, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pins.BoardId, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pin It" class="btn btn-default" />
            </div>
        </div>
    </p>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
