@model Quinterest2.Views.Pins.DetailsVM

@{
    ViewBag.Title = "Details";
}


<div>

    <div class="row">
        <div class="col-sm-7">

            <img class="expandedPinImage" src="@Html.DisplayFor(model => model.Pin.ImageUrl)" />

        </div>
        <div class="col-sm-5">

            <hr style="border-color:white" />
            <h2>@Model.Pin.Title</h2>

            <hr style="border-color:white" />
            <a href="model.Pin.Website">@Html.DisplayFor(model => model.Pin.Website)</a>
            <br />
            <hr style="border-color:white" />

            <em>@Html.DisplayFor(model => model.Pin.ShortDescription)</em>
            <br />
            <hr style="border-color:white" />
            @Html.DisplayFor(model => model.Pin.LongDescription)
            <hr />
            <strong><text>Pinned by </text>@Html.DisplayFor(model => model.PinnerDisplayName)</strong>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-sm-7">
    </div>
    <div class="col-sm-5">
        @if (Model.CurrentUser.DisplayName == Model.PinnerDisplayName)
        {
            <p>
                <i class="fa fa-pencil"></i>
                @Html.ActionLink("Edit Pin", "Edit", new { id = Model.Pin.Id }) <text> | </text>
                <i class="fa fa-trash-o"></i>
                @Html.ActionLink("Delete Pin", "Delete", new { id = Model.Pin.Id }) <text> | </text>
                <i class="fa fa-chevron-left"></i>
                @Html.ActionLink("Back To All Pins", "Index")
            </p>
        }
        else
        {
            <p>

                <i class="fa fa-thumb-tack"></i>
                @Html.ActionLink("Pin It!", "PinItView", new { id = Model.Pin.Id }) |
                <i class="fa fa-chevron-left"></i>
                @Html.ActionLink("Back To All Pins", "Index")

                <div class="flag btn-group collapse">
                    <a class="btn btn-danger btn-sm"><i class="fa fa-flag-o fa-lg"></i></a>
                    <a class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="fa fa-caret-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li id ="report">@Html.ActionLink("Report", "AddFlag", new { id = Model.Pin.Id })</li>
                    </ul>
                </div>
                
            </p>
  
        }
        <div class="flag" id="reportConfirm" style="display:none">
            <p>You have flagged this pin. The administrator has been notified.</p>
        </div>

    </div>

</div>
<hr />
<p><strong><i class="fa fa-comment"></i>Leave a comment:</strong></p>
@using (Html.BeginForm("Create", "Comments", new { id = Model.Pin.Id }))
{
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comment.Words, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comment.Words, "", new { @class = "text-danger" })
        </div>
    </div>


    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

<table class="commentTable">

    @foreach (var comment in Model.Comments)
    {
        <tr class="commentTableRow">
            <td>
                <img class="commentImage" src="@Html.DisplayFor(modelItem => comment.User.ImageUrl)" />
                <strong>@Html.DisplayFor(modelItem => comment.User.DisplayName)</strong>
                <span style="color:lightgray"> @Html.DisplayFor(modelItem => comment.DateTime)</span>
                <br />
                @Html.DisplayFor(modelItem => comment.Words)
            </td>
        </tr>
    }
</table>
