@model Quinterest2.Views.Pins.IndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Quinterest</h2>

<p>
    <button class="btn btn-sm btn-default"><i class="fa fa-plus"></i> @Html.ActionLink("Create Pin", "Create")</button>
</p>
<hr />

<div class="section">
    <div class="row">
        @foreach (var pin in Model.Pins)
        {
            <div class="col-md-3">
                <div class="panel pins panel-default">

                    <div class="panel-body">
                        <h4>@Html.DisplayFor(modelItem => pin.Title)</h4>
                        <img class="smallPinImage img-responsive" src="@Html.DisplayFor(modelItem => pin.ImageUrl)" />
                        <hr />
                        <p>@Html.DisplayFor(modelItem => pin.ShortDescription)</p>
                        <div class="pinDivButtons">
                        @if (User.Identity.IsAuthenticated && Model.CurrentUserId != pin.UserId)
                        {
                            <button class="pinItDivButton btn btn-sm btn-danger"><i class="fa fa-thumb-tack"></i>@Html.ActionLink("Pin It!", "PinItView", new { id = pin.Id }, new {@class = "pinItDivButton"})</button>
                        }
                            <button class="btn btn-sm btn-default"><i class="fa fa-search-plus"></i> @Html.ActionLink("View", "Details", new { id = pin.Id }, null)</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<nav>
    <ul class="pagination">
        @*<li>
            <a href="/Pins/Index?pageIndex=Model.Previous" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>*@

        @for (int i = 0; i < (this.Model.PinCount / 20) + 1; i++)
        {
            <li><a href="/Pins/Index?pageIndex=@i">@(i + 1)</a></li>
        }
        @*<li>
            <a href="/Pins/Index?pageIndex=+1" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>*@
    </ul>
</nav>