@model IEnumerable<Quinterest2.Models.Pin>

@{
    ViewBag.Title = "Index";
}

<h2>All Pins</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var pin in Model)
{
    <div class="col-sm-3 smallPinDiv">

        <h4>@Html.DisplayFor(modelItem => pin.Title)</h4>
        <br />

        <img class="smallPinImage" src="@Html.DisplayFor(modelItem => pin.ImageUrl)" />
        <br />
        @Html.DisplayFor(modelItem => pin.ShortDescription)
        <br />
        @Html.ActionLink("View", "Details", new { id = pin.Id })

    </div>
}
