@model Quinterest2.Views.Pins.PinItViewVM

@{
    ViewBag.Title = "PinItView";
}

<h2>Pin It</h2>
<hr />
<div class="row">
    <div class="col-sm-6">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Pin.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Pin.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Pin.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pin.Title, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pin.ImageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Pin.ImageUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pin.ImageUrl, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pin.Website, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Pin.Website, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pin.Website, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pin.BoardId, "Board", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.Pin.BoardId, Model.Boards, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pin.BoardId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pin.CategoryId, "Category", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.Pin.CategoryId, Model.Categories, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Pin.CategoryId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pin.ShortDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Pin.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pin.ShortDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Pin.LongDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-sm-6">
                        @Html.EditorFor(model => model.Pin.LongDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Pin.LongDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.Pin.Id)

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Pin It" class="btn btn-sm btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            <button class="btn btn-sm btn-default"><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to Pin", "Details", new { id = Model.Pin.Id })</button>
        </div>

    </div>


    <div class="col-sm-5">
        <img class="pinItImage img-responsive" src="@Html.DisplayFor(model => model.Pin.ImageUrl)" />
    </div>

    <div class="col-sm-1"></div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
