@model Quinterest2.Views.Pins.PinItVM
@{
    ViewBag.Title = "PinIt";
}

<div class="row">
    <div class="col-sm-6">
        @Model.Pin.Title
        <img src="@Model.Pin.ImageUrl" />
        @Model.Pin.Website
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            @Html.LabelFor(model => model.Pin.BoardId, "BoardId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Pin.BoardId, Model.Boards, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Pin.BoardId, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ActionLink("Pin It", "PinIt")
    </div>
</div>













@*MINI PIN

DROP DOWN LIST OF BOARDS

CREATE NEW BOARD? (later)*@