@model Quinterest2.Views.Pins.IndexVM

@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

<p>
    @Html.ActionLink("Back To Pins", "Index", "Pins")
</p>


@foreach (var pin in Model.Pins)
{
    <div class="col-sm-3 smallPinDiv">

        <h4>@Html.DisplayFor(modelItem => pin.Title)</h4>
        <br />

        <img class="smallPinImage" src="@Html.DisplayFor(modelItem => pin.ImageUrl)" />
        <br />
        @Html.DisplayFor(modelItem => pin.ShortDescription)
        <br />
        @Html.ActionLink("View", "Details", new { id = pin.Id })

    </div>
}




@*@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.ActionLink("View", "Details", new { id=item.Id }) |
        </td>
    </tr>
}*@
