@model Quinterest2.Views.Pins.IndexVM

@{
    ViewBag.Title = "Search";
}

<h2>Search Results</h2>

<p>
    <button><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back To Pins", "Index", "Pins")</button>
</p>



<div class="section">
    <div class="row">
        @foreach (var pin in Model.Pins)
        {
            <div class="col-md-3">
                <div class="panel pins panel-default">

                    <div class="panel-body">
                        <h4>@Html.DisplayFor(modelItem => pin.Title)</h4>
                        <img class="smallPinImage img-responsive" src="@Html.DisplayFor(modelItem => pin.ImageUrl)" />
                        <hr />
                        <p>@Html.DisplayFor(modelItem => pin.ShortDescription)</p>
                        <button class="btn btn-sm btn-default"><i class="fa fa-search-plus"></i> @Html.ActionLink("View", "Details", "Pins", new { id = pin.Id }, null)</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


