@model IEnumerable<Quinterest.Models.Board>

@{
    ViewBag.Title = "Index";
}

@*Navy icon: http://learnsauce.com/videotutorial/img/anyone.png*@
@*Orange icon: http://www.swifthausdesign.com/wp-content/uploads/2014/10/profileIcon-300x300.jpg*@

<div class="continer">
    <div class="row">
        <div class="col-sm-12">
            <img id="profileIcon" class="center-block" src="http://www.swifthausdesign.com/wp-content/uploads/2014/10/profileIcon-300x300.jpg" />
            <a class="btn btn-warning" id="editProfileBtn">Edit Profile</a>
            <hr />
            <h2 class="center-block">User Name Here</h2>
            <hr />
            @*<div class="col-sm-5">
            </div>
            <div class="col-sm-1">
                @Html.DisplayNameFor(model => model.NumBoards)
            </div>
            <div class="col-sm-1">
                @Html.DisplayNameFor(model => model.NumPins)
            </div>
            <div class="col-sm-5">
            </div>*@
        </div>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Secret)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPinsInBoard)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Secret)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPinsInBoard)
        </td>
       
        <td>
            @Html.ActionLink("Create New", "Create") |
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
