@model Quinterest2.Views.ApplicationUsers.AdminViewVM

@{
    ViewBag.Title = "Admin";
}

<h2>Pins to review:</h2>

<table class="table">
    <tr>
        <th>
            Time Stamp
        </th>
        <th>
            User Who Flagged
        </th>
        <th>
            Pin
        </th>
        <th>
            Review
        </th>
    </tr>

    @foreach (var flag in Model.Flags)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => flag.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => flag.User.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => flag.Pin.Title)
                <br />
                <img style="max-height:100px; max-width:100px" src="@Html.DisplayFor(modelItem => flag.Pin.ImageUrl)" />
            </td>
            <td>
                <button class="btn btn-sm btn-default"><i class="fa fa-search-plus"></i> @Html.ActionLink("Details", "Details", "Pins", new { id = flag.PinId }, null)</button>
                <button class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i> @Html.ActionLink("Delete", "Delete", "Pins", new { id = flag.PinId }, null)</button>
            </td>
        </tr>
    }

</table>
