@model Quinterest2.Models.ApplicationUser

@{
    ViewBag.Title = "ProfileView";
}

<h2>@Model.DisplayName</h2>


<p>
   <img class="pinImages" src="@Model.ImageUrl" />
    <hr />
   @Model.NumBoards <text> Boards</text> | 
   @Model.NumPins <text> Pins</text>
</p>
<p>
    @Html.ActionLink("Edit Profile", "Edit") |
    @Html.ActionLink("Create Board", "Create", "Boards") |
    @Html.ActionLink("Create Pin", "Create", "Pins")
</p>
<hr />
<table class="table">
   
@foreach (var board in Model.Boards)
{
    <tr>
        <td>
            @board.BoardName
        </td>
        <td>
            @board.Description
        </td>
        <td>
            @board.NumPinsOnBoard
        </td>
        <td>
            @Html.ActionLink("View", "Index", "Boards", new { id=board.Id }, null)
        </td>
    </tr>
}

</table>
