@model Quinterest2.Models.ApplicationUser

@{
    ViewBag.Title = "ProfileView";
}

<h2>ProfileView</h2>


<p>
   @Model.DisplayName
   @Model.ImageUrl
   @Model.NumBoards
   @Model.NumPins
</p>

<hr />

<p>
    @Html.ActionLink("Create Board", "Create", "Boards")
</p>

<table class="table">
   

@foreach (var item in Model.Boards)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPinsOnBoard)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
